*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap ul{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap ul li{
    width: 16%;
    height: 100%;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.5s linear, height 0.5s linear 0.5s;
}
.wrap ul li .inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .5s linear;
}
.wrap .init li .inner{
    transform: translateY(100%);
}
.wrap li:nth-of-type(1) .inner{
    transition-delay: 0.1s;
}
.wrap li:nth-of-type(2) .inner{
    transition-delay: 0.2s;
}
.wrap li:nth-of-type(3) .inner{
    transition-delay: 0.3s;
}
.wrap li:nth-of-type(4) .inner{
    transition-delay: 0.4s;
}
.wrap li:nth-of-type(5) .inner{
    transition-delay: 0.5s;
}
.wrap li:nth-of-type(6) .inner{
    transition-delay: 0.6s;
}

.wrap .inner .bg{
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.wrap li:nth-of-type(1) .inner .bg{
    background-image: url(./images/1.jpg);
}
.wrap li:nth-of-type(2) .inner .bg{
    background-image: url(./images/2.jpg);
}
.wrap li:nth-of-type(3) .inner .bg{
    background-image: url(./images/3.jpg);
}
.wrap li:nth-of-type(4) .inner .bg{
    background-image: url(./images/4.jpg);
}
.wrap li:nth-of-type(5) .inner .bg{
    background-image: url(./images/5.jpg);
}
.wrap li:nth-of-type(6) .inner .bg{
    background-image: url(./images/6.jpg);
}

.wrap li:hover .inner .bg{
    opacity: 1;
}
.wrap li h2{
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.wrap li:hover h2{
    font-size: 24px;
}
#activeWrap li h2{
    opacity: 0;
    transition: opacity .2s linear;
}

#activeWrap li:not(.active){
    height: 0;
    width: 0;
}
#activeWrap li.active{
    width: 100%;
}
#activeWrap li{
    transition: height 0.5s linear, width 0.5s linear 0.5s;
}
.wrap li .direction{
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    opacity: 0;
}
.wrap li .direction .header{
    color: #fff;
    font-size: 24px;
}
.wrap li .direction .close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.wrap li .direction .close::before,
.wrap li .direction .close::after{
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    background-color: #fff;
}
.wrap li .direction .close::before{
    transform: rotate(45deg);
}
.wrap li .direction .close::after{
    transform: rotate(-45deg);
}
#activeWrap li .direction{
    opacity: 1;
    transition: 0.5s linear 1s;
}
#activeWrap li .direction .close{
    transform: rotate(360deg);
    transition: 0.5s linear 1s;
}